<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CheckBrainApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CheckBrainApp.Properties.Settings>
            <setting name="Theory1" serializeAs="String">
                <value>Систематика.html;Биология.html;Экология.html
</value>
            </setting>
            <setting name="Test" serializeAs="String">
                <value>test.xml;test1.xml;test2.xml</value>
            </setting>
        </CheckBrainApp.Properties.Settings>
    </userSettings>
</configuration>